<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>stocks</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Please select a stock ticker</h1>
				<h3>
				<form method='POST' action='index' > <!-- action must match your next URL -->
				   <p>
				   <input type='radio' name='ticker' value='GOOG' checked> GOOG </input><br>
				   <input type='radio' name='ticker' value='NVDA'> NVDA </input><br>
				   <input type='radio' name='ticker' value='FB'>   FB   </input><br>
					 <input type='radio' name='ticker' value='AAPL'> AAPL </input><br>
				   </p>
				   <p>
				   <input type='submit' value='Sumbit' /> <!--the 'value' is the word that will appear on your button.-->
				   </p>
				</form>
				</h3>
		</div>
	</body>
</html>
